<div class="container">

      <%= form_tag(password_resets_path, :method => :post, :html => {:class => "login-fields"}) do  %>

      <div class="account-container stacked">  
      <div class="content clearfix">    
      
        
                <div class="field">
                    <div class="input-prepend">
                       
                       <%= text_field_tag :email%>
                    </div>
                </div>

                <%= submit_tag "Reset Password" ,:class => "btn btn-large btn-primary" %>


    <% end %>
    </div>
